html{
	height:100%;
}
body {
  padding-top: 70px;
  height:100%;
}
.container{
	height:100%;
}
#jPanelMenu-menu{
	
	background-color: #FFF;
	overflow: hidden;
}
a.list-group-item{
	font-size: 15px;
	border-right: none;
	border-left:none;
}
a.list-group-item.active{
	/*background-color:#f68026;*/
/*	border-right: none;
	border-left:none;*/
}
#menu{
	display:none;
}
